html{
	width: 1000px;
	height: 1500px;
	background-image: url(file:///Users/melissagaines/Desktop/Web%20Devel%20100/final/Questionspage/untitled%20folder/outerspace.jpg);
	margin-left: 200px;
}

body{
	height: 0px;
	float: center;
	font: white;
	height: 1500px;
	background-image: url(file:///Users/melissagaines/Desktop/Web%20Devel%20100/final/Questionspage/untitled%20folder/outerspace.jpg);
}

.earth{
	background-image: url(file:///Users/melissagaines/Desktop/Web%20Devel%20100/ClimateChange/Pics/Earth.jpg);
	background-size: 100%;
}

#banner{
	text-align: center;
	font-size: 20px;
	border: solid 2px;
	height: 100%;
	width: 100%; 
	margin: auto;
	color: white;
	margin-top: 50px;
	}

ul {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: white;
	border: solid 1px orange;
}

li{
	display: inline;
	padding: 7px;
	font-size: 20;
}

#P1{
	margin-left: 75px;
	float: center;
}

#P2{
	margin-left: 80px;
	float: center;
}

#P3{
	margin-left: 0px;
	float: center;
}

#q1{
	color: white;
	float: center;
	width: 800px;
	margin-left: 80px;
}
#q2{
	color: white;
	float: center;
	width: 800px;
	margin-left: 80px;
}

#q3{
	color: white;
	float: center;
	width: 800px;
	margin-left: 00px;
}

#container{
	color: white;
	width: 850px;
	height: 350px;
	float: center;
	text-align: center;
	padding-top: 10px;
	background-image: url(file:///Users/melissagaines/Desktop/Web%20Devel%20100/final/Questionspage/untitled%20folder/outerspace.jpg);
	margin-right: 0px;
	margin-left: 80px;
	border: solid white 1px;
	margin-top: 100px;
	padding-left: 20px;
}

#questions{
	height: 70px;
	text-align: center;
	margin-left: 50px;
	margin-right: 70px;
	margin-bottom: 5px;
	color: white;
}

#myCarousel{
	width: 900px;
	height: 500px;
	margin-left: 50px;
	
}

.carousel-inner{
	height: 500px;
	background-color: black;

}

.item active{
	height: 517p;
}

 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      	width: 70%;
      	margin: auto;
    }

#image{
	width: 800px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	text-align: center;
} 

#pic1{
	height: 500px;
	margin-left: 45px;
}

#pic2{
	margin-left: 150px;
	height: 500px;
}

#pic3{
	width: 1000px;
	height: 540px;
	margin-left: 15px;
	margin-right: 10px;
}

#title2{
	font: white;
	text-align: center;
}

#para1{
	float: left;
	width: 250px;
	height: 220px;
}


#para2{
	float: left;
	width: 250px;
	height: 250px;
	margin-left: 30px;
}

#para3{
	float: right;
	width: 250px;
	height: 200px;
	margin-right: 20px;

}



